<!--
	NOT CURRENTLY USING THIS.  IT was added as an ng-include in the home.html file but 
	was not hitting the scope.
-->

<form name="loginForm"
	  ng-submit="login()"
	  novalidate>
	<fieldset>
		<legend>Login</legend>
		<div class="form-group">
			<p ng-show="message">{{ message }}</p>
			<input class="form-control" type="email" name="email" placeholder="Email"
				   ng-model="user.email" ng-required="true">
			<p ng-show="loginForm.email.$invalid && loginForm.email.$touched">
				Must be a valid email</p>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="Password"
				   ng-model="user.password" ng-required="true">
			<p ng-show="loginForm.password.$invalid && loginForm.password.$touched">
				Password is required</p>
		</div>

		<button type="submit" class="btn btn-success"
				ng-disabled="loginForm.$invalid"> login</button> Don't have an account? <a ng-href="#/register">Register here!</a>
	</fieldset>
</form>
